* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #f8f8f8;
    font-family: Roboto, sans-serif;
    background-color: #f8f8f8;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
}

.container {
    width:  !00%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 700px;
    background-color: #abeafa;
}

.header_top {
    height: 135px;
}

.header_top .logo {
    display: block;
    width: 125px;
    height: 111px;
    background: url(img/surfhouse_logo.png);
    margin-left: 234px;
    margin-top: 24px;
    float: left;
}


.header_top .social-menu {
    float: right;
    margin-top: 50px;
    margin-right: 189px;
}

.header_top .social-menu a {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.header_top .social-menu a:hover {
    color: #000000;
}

.header_top .social-menu a:active {
    color: #fff51f;
}

.header_bottom .welcome {
    float: left;
    width: 270px;
    height: 300px;
    background-color: #fff51f;
    margin-left: 165px;
    margin-top: 201px;
    margin-bottom: 64px;
}

.header_bottom .welcome h3 {
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 25px;
    margin-top: 82px;
    margin-bottom: 24px;
    font-family: raleway, sans-serif;

}

.header_bottom .welcome p {
    color: #333333;
    font-weight: 700;
    font-style: italic;
    padding: 0 22px;
    font-family: raleway, sans-serif;
}

.header_bottom .promo {
    float: right;
    width: 300px;
    height: 143px;
    margin-top: 109px;
    margin-right: 287px;
    margin-bottom: 87px;
}

.header_bottom .promo h3 {
    color: #fff51f;
    font-family: "Myriad Pro";
    font-weight: 400;
    font-size: 48px;
    line-height: 34px;
    text-transform: uppercase;
}

.header_bottom .promo p {
    color: #fff51f;
    font-family: "Myriad Pro";
    line-height: 24px;
}

.header_bottom .promo + a:hover {
    outline: 2px solid #333333;
    color: #e24602;
}

.header_bottom .promo + a:active {
    background-color: #e24602;
    color: #333333;
    position: relative;
    top: 3px;
    left: 3px;
}

.header_bottom .catalog_link {
    display: block;
    width: 124px;
    height: 49px;
    background-color: #fff51f;
    float: right;
    margin-bottom: 177px;
    margin-right: 460px;
    font-family: "Myriad Pro";
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 49px;
    text-align: center;
    color: #000000;
}

.menu {
    float: left;
}

.menu .menu_heading a {
    width: 270px;
    height: 66px;
    background-color: #333333;
    margin-left: 165px;
    font-family: "Myriad Pro";
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    padding-left: 43px;
    padding-top: 20px;
    position: relative;
    top: -20px;
    display: block;
}

.menu ul {
    width: 270px;
    margin-left: 165px;
    background-color: #26d2fc;
    position: relative;
    top: -20px;
    list-style: none;
}

.menu ul li a {
    display: block;
    width: 270px;
    height: 43px;
    font-family: "Roboto - Black";
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    padding-left: 43px;
    padding-top: 8px;
    color: #333333;
}



.menu a:hover {
    background-color: #333333;
    color: #ffffff;
}

.menu a:active {
    color: #fff51f;
}


.for-sale {
    width: 270px;
    height: 300px;
    background-color: #e0e0e0;
    float: left;
    margin-left: 165px;
}

.for-sale .sale-promo {
    color: #333333;
    font-family: "Myriad Pro";
    font-size: 36px;
    font-style: italic;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 129px;
}

.content .new_products {
    background-color: #f8f8f8;

    position: relative;
    top: -20px;
    float: left;
    margin-bottom: 66px;
    margin-right: 165px;
    margin-left: 30px;
}

.content .new_products h3 {
    color: #707070;
    font-family: "Myriad Pro";
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-left: 27px;
}

.content .top_products {

    float: left;
    margin-right: 165px;
    text-transform: uppercase;
    margin-bottom: 66px;
    margin-left: 30px;
}

.content .sale_products {

    float: left;
    margin-right: 165px;
    text-transform: uppercase;
    margin-bottom: 66px;
    margin-left: 475px;
}

.content .top_products h3,
.content .sale_products h3 {
    color: #707070;
    font-family: "Myriad Pro";
    font-size: 22px;
    text-transform: uppercase;
    padding-left: 27px;
}

.brend-item-full {
    width: 850px;
    margin: 0 auto;
}

.brend-item {
    position: relative;
    float: left;
    margin-top: 33px;
    margin-right: 20px;
    background-color: #ffffff;
}

.brend-item:hover {
    box-shadow: 0 0 10px #cccccc;
}

.brend-item:nth-child(3n+3) {
    margin-right: 0;
}

.new_products .brend-item:first-child::before {
    content: 'new';
    width: 46px;
    height: 46px;
    position: absolute;
    left: 225px;
    z-index: 3;
    background: url(img/Corner.png);
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
}

.new_products .brend-item:nth-child(2)::before {
    content: 'new';
    width: 46px;
    height: 46px;
    position: absolute;
    left: 225px;
    z-index: 3;
    background: url(img/Corner_yellow.png);
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    display: table-cell;
    vertical-align: middle;
}

.brend-item .brend-photo {
    width: 250px;
    height: 235px;
    background-color: #eaeaea;
    margin: 10px;
}

.brend-item .brend-photo img {
    width: 250px;
    height: 235px;
}

.brend-item .brend-description {
    width: 270px;
    height: 80px;
    background-color: #ffffff;
}

.brend-description .brend-name {
    color: #333333;
    font-family: "Myriad Pro";
    font-size: 14px;
    float: left;
    margin-top: 25px;
    margin-left: 26px;
}

.brend-description .brend-name a:hover {
    color: #e24602;

}

brend-description .brend-name a:active {
    color: #fff51f;
}

.brend-description .brend-price {
    color: #333333;
    font-family: "Myriad Pro";
    float: right;
    margin-top: 28px;
    margin-right: 15px;
    text-align: right;
}

.brend-item .best_price {
    color: #e24602;
    font-family: "Myriad Pro";
    font-size: 14px;
    text-decoration: line-through;
}

.brend-name-bottom {
    width: 1170px;
    height: 160px;
    background-color: #ffffff;
    clear: both;
    margin: 0 auto;
    padding-top: 70px;
}

.brend-name-logo {
    width: 1142px;
    height: 26px;
    background: url("img/brands.png") repeat-x;
    margin: 0 auto;
}

.main-bottom {
    width: 1170px;
    height: 350px;
    background-color: #eaeaea;
    margin: 0 auto;
}

.main-bottom h3 {
    text-align: center;
    padding-top: 53px;
    color: #333333;
    font-family: "Myriad Pro";
    font-size: 22px;
}

.main-bottom h3 a {
    text-decoration: none;
    color: #333333;
    font-family: "Myriad Pro";
    font-size: 22px;
}

.main-bottom h3 a:hover {
    color: #e24602;
}

.main-bottom h3 a:active {
    color: #fff51f;
}

.carousel {
    background-color: #eaeaea;

}

.carousel .carousel-items {
    width: 1170px;
    height: 250px;
    margin: 0 auto;
    margin-top: 32px;
}

.carousel .carousel-item {
    float: left;
    margin-right: 12px;
}

.carousel .carousel-item:hover {
    box-shadow: 0 0 10px #cccccc;
}

.carousel .carousel-item:last-child {
    margin-right: 0;
}

.social-menu-bottom a {
    display: block;
    width: 390px;
    height: 150px;
}

.social-menu-bottom a:hover {
    color: #cccccc;
}

.social-menu-bottom-fb {
    background-color: #3b5997;
    float: left;
}

.social-menu-bottom-tw {
    background-color: #3fccfd;
    float: left;
}

.social-menu-bottom-pt {
    background-color: #cb2027;
    float: left;
}

.social-menu-bottom a i {
    font-size: 52px;
    margin-top: 49px;
    margin-left: 163px;
}

footer {
    background-color: #373737;
    height: 351px;
    clear: both;
}

.footer-top {
    margin-left: 192px;
}

.footer-list {
    float: left;
    margin-bottom: 64px;
}

.footer-category {
    margin-right: 114px;
}

.footer-account {
    margin-right: 87px;
}

.footer-support {
    margin-right: 89px;
}

.footer-list h3 {
    margin-bottom: 28px;
    color: #ffffff;
    font-family: "Myriad Pro";
    padding-top: 75px;
}

.footer-list-full {
    color: #ffffff;
    font-size: 12px;
    list-style: none;
}

.footer-list-full a:hover {
    color: #fff51f;
}

.footer-list-full a:active {
    color: #cb2027;
}

.footer-newsletter {
    float: left;
}

.footer-newsletter h3 {
    margin-bottom: 8px;
}

.footer-newsletter p {
    width: 195px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 20px;
    float: left;
}

.footer-newsletter input[type="text"] {
    width: 180px;
    height: 30px;
    background-color: #ffffff;
    float: left;
    margin-bottom: 45px;
    clear: both;
}

.footer-newsletter input[type="text"]:hover {
    background-color: #fff51f;
}

.footer-newsletter input[type="submit"] {
    float: left;
    width: 71px;
    height: 30px;
    background-color: #000000;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-newsletter input[type="submit"]:hover {
    color: #cccccc;
}

.footer-newsletter input[type="submit"]:active {
    color: #000000;
    position: relative;
    top: 3px;
    left: 3px;
    background-color: #ffffff;
}

.footer-pay {
    clear: both;
    margin-right: 46px;
}

.footer-pay-item {
    float: left;
    margin-right: 10px;
}

.footer-pay-item a {
    display: block;
}

.footer-pay-item a:hover {
    box-shadow: 0 0 10px #cccccc;
}

.footer-pay-item:last-child {
    margin-right: 0;
}

.about-us h3 {
    margin-bottom: 8px;
}

.about-us p {
    width: 232px;
    font-size: 12px;
    line-height: 12px;
}

.about-us span {
    font-size: 14px;
    line-height: 36px;
    margin-right: 19px;
}

.about-us .email:hover {
    color: #faef03;
}

.about-us .email:active {
    color: #cb2027;
}

.footer-bottom {
    height: 50px;
    background-color: #333333;
    clear: both;
}

.footer-bottom .copyright {
    float: left;
    color: #dad9d9;
    font-size: 12px;
    line-height: 21.6px;
    margin-left: 171px;
    margin-top: 15px;
}

.footer-bottom .footer-social-menu {
    float: right;
    margin-right: 191px;
    margin-top: 15px;

}

.footer-bottom .footer-social-menu a {
    margin-right: 8px;
}

.footer-bottom .footer-social-menu a:hover {
    color: #fff51f;
}

.footer-bottom .footer-social-menu a:active {
    color: #cb2027;
}
